html{
    background-color: blanchedalmond;
}
h1{
    background-color: purple;
    color: white;
    font-size: 38px;
}
.index_page{
    background-color: brown;
    display: block;
    width: 250px;
    border: 2px solid black;
    margin: 24px auto;
    padding: 12px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.goback{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}
h2, .bigger{
    font-size: 30px;
}
h1, h2, .bigger{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
p, ul, ol{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.main_page .bigger{
    display: inline-block;
    margin: 12px;
}
div.main_page{
    display: block;
    background-color: white;
    width: 400px;
    border: 5px solid black;
    border-style: dotted;
    margin: 24px auto;
}
.main_page .center{
    display: block;
    margin: 12px auto;
}
body.subpages{
    width: 750px;
    margin: 24px auto;
    padding: 12px;
    border-top: 3px solid brown;
    border-left: 5px double rgb(57, 9, 77);
    border-right: 5px double rgb(57, 9, 77);
    border-bottom: 5px dotted rgb(57, 9, 77);
    background-color: white;
}
div.goback{
    margin: 50px;
}